.tableauPlaceholder, .tableauViz,
iframe {
  width: 100% !important;
  height: 950px !important;
  border: none;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav.navbar {
  background: #f2f2f2;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.hero {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url('/static/hero.jpg') no-repeat center center/cover;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.hero .button {
  background-color: green;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  display: inline-block;
}

./* Section Styling */
.section {
  padding: 40px;
  background-color: #f8f8f8;
}

.section h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}


footer {
  text-align: center;
  padding: 20px;
  background: #f4f4f4;
}
.about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.about-text {
  flex: 1;
  min-width: 300px;
}

.about-image img {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
